*.py[cod]
build/
dist/
.idea
.env
.venv
venv/
*.so
*.sw[po]
nosetests.xml
.DS_Store
*.egg-info
*.egg
!.gitignore
*.orig
*.html~
.vagrant
dump.rdb
celerybeat.pid
celerybeat-schedule*
celerybeat-schedule.db

node_modules
.tmp
reader/.tem
reader/static
purifier/.tem
purifier/static
tests/.cache
static
static-src/libs
assets.json
.sass-cache
npm-debug.log

# Packages
lib
!static-src/front/scripts/lib
.coverage
TODO
